<!-- 
<div class="body">
<br><br><br>
<h1 align="center">SpringFood | HOME</h1>
<br><br>
</div>
<div class="card align-contents">
  <p><img class="card-img-top" style="padding: 0 15px; float: left;" src="../../assets/images/user.png" alt="Card image cap"><font>Welcome, {{modelUser.firstname}}<br> Account Type : User</font></p>
  <div class="table-responsive panel">
    <table class="table">
      <tbody>

      <tr>
        <td class="text-success" align="right"><i class="fa fa-user"></i> First Name</td>
        <td>{{modelUser.firstname}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-user-circle"></i> Last Name</td>
        <td>{{modelUser.lastname}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-mobile"></i> Mobile Number</td>
        <td>{{modelUser.phone}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-envelope"></i> E-Mail ID</td>
        <td>{{modelUser.email}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container" align="center">
<button class="bigbutton" routerLink="/home" (click)="clearLocal()"><span>Log Out</span></button>
<button class="bigbutton" routerLink="/menu"><span>Menu</span></button>
</div> -->


<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-left">Welcome to a world of flavors, just for you!</div>
  <div class="navbar-right" (click)="toggleUserCard()">
    Welcome, {{modelUser.firstname}} ▼
  </div>
</nav>

<!-- Floating User Info Card -->
<div class="user-card" *ngIf="showCard">
  <div class="card-content">
    <img src="../../assets/images/user.png" alt="User Image" />
    <h3>{{modelUser.firstname}} {{modelUser.lastname}}</h3>
    <p><strong>Account Type:</strong> User</p>
    <p><strong>Mobile:</strong> {{modelUser.phone}}</p>
    <p><strong>Email:</strong> {{modelUser.email}}</p>
  </div>
</div>

<!-- Main Body -->
<div class="body">
  <div class="container">
    <div class="welcome-card">
      <div class="welcome-slogan">Welcome to SpringFood – Taste the Joy!</div>
      <!-- Your existing card content below -->
      <p>Hello, {{modelUser.firstname}}! Enjoy browsing the menu and placing your order.</p>
      <div class="menu-button-container">
        <button class="bigbutton" routerLink="/menu"><span>Menu</span></button>
        <button class="bigbutton" routerLink="/home" (click)="clearLocal()"><span>Log Out</span></button>    
    </div>
    </div>
</div>
