


<div class="merchant-body">
  <div class="fancy-title-button">
    📜 Menu Mastery at Your Fingertips 🍽️
  </div>

  

  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && getTotal()" novalidate class="merchant-form">
    <div class="merchant-container">
      <div class="merchant-grid">
        <div class="merchant-card" *ngFor="let m of model; let index=index">
          <img class="merchant-img" [src]="_DomSanitizationService.bypassSecurityTrustUrl(m.url)" />
          <div class="merchant-info">
            <h5>{{m.item}}</h5>
            <p>Price: ₹{{m.price}}</p>
            <p>Available: {{m.quantity}}</p>
            <input type="number" name="name+{{index}}" min="0" max="{{m.quantity}}"
              [(ngModel)]="values[index].quantity" class="merchant-input" />
          </div>
        </div>
      </div>
    </div>

    <div class="merchant-actions">
      <button class="merchant-button" routerLink="/addItem"><span>Add Item</span></button>
      <button type="submit" class="merchant-button"><span>Update Quantity</span></button>
      <button type="button" class="merchant-button" routerLink="/home" (click)="clearLocal()">
        <span>Log Out</span>
      </button>
    </div>
  </form>
</div>
