



 <div class="container body">
  <div class="form-container">
    <h1 align="center" class="premium-heading"> <div class="reg-heading">Registration</div></h1>
    <br><br><br>

    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form name="form" #f="ngForm" (ngSubmit)="emailValidation&&phoneValidation&&passwordValidation&&f.form.valid && registerUser()" novalidate class="feedback-form">
          <div class="container alert-container">
            <div *ngIf="present" class="alert alert-danger alert-box" align="center">
              <strong>UserName Already Taken!</strong>
            </div>
            <div *ngIf="present==false" class="alert alert-success alert-box" align="center">
              <strong>UserName Available!</strong>
            </div>
          </div>

          <!-- Username -->
          <div class="form-group">
            <label for="username"><i class="icon-username"></i> Username</label>
            <div class="input-container">
              <input type="text" id="username" class="form-control" name="username" placeholder="Your Username" [(ngModel)]="model.username" #username="ngModel" [ngClass]="{ 'is-invalid': f.submitted && username.invalid }" required="required" />
              <a (click)="usernamePresent()" class="check-availability" data-toggle="tooltip" data-placement="right" title="Click to check availability">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                  <path d="M12.854 3.146a.5.5 0 0 1 0 .708L7.707 8.5l-2.646-2.647a.5.5 0 1 1 .708-.708L7 7.793l5.146-5.147a.5.5 0 0 1 .708 0z"/>
                </svg>
              </a>
            </div>
          </div>

          <!-- Password -->
          <div class="form-group">
            <label for="password"><i class="icon-password"></i> Password</label>
            <input (keyup)="passwordStrength()" type="password" id="password" class="form-control" name="password" placeholder="Your Password" [(ngModel)]="model.password" #password="ngModel" minlength="8" maxlength="16" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required="required" />
            <div class="password-tooltip" *ngIf="!passwordValidation">
              <span>Your password should contain:</span>
              <ul>
                <li>1 special character</li>
                <li>1 Upper Case character</li>
                <li>1 Numeric character</li>
                <li>Min Length = 8, Max Length = 16</li>
              </ul>
            </div>
          </div>

          <!-- First Name -->
          <div class="form-group">
            <label for="firstname"><i class="icon-firstname"></i> First Name</label>
            <input type="text" id="firstname" class="form-control" name="firstname" placeholder="Your Firstname" [(ngModel)]="model.firstname" #firstname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstname.invalid }" required="required" />
          </div>

          <!-- Last Name -->
          <div class="form-group">
            <label for="lastname"><i class="icon-lastname"></i> Last Name</label>
            <input type="text" id="lastname" class="form-control" name="lastname" placeholder="Your Lastname" [(ngModel)]="model.lastname" #lastname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lastname.invalid }" required="required" />
          </div>

          <!-- Email -->
          <div class="form-group">
            <label for="email"><i class="icon-email"></i> Email</label>
            <input (keyup)="checkEmail()" type="text" id="email" class="form-control" name="email" placeholder="Your Email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required="required" />
            <div *ngIf="!emailValidation" class="invalid-feedback">Invalid Email</div>
          </div>

          <!-- Address -->
          <div class="form-group">
            <label for="address"><i class="icon-address"></i> Address</label>
            <input type="text" id="address" class="form-control" name="address" placeholder="Your Address" [(ngModel)]="model.address" #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" required="required" />
          </div>

          <!-- Phone -->
          <div class="form-group">
            <label for="phone"><i class="icon-phone"></i> Phone</label>
            <input (keyup)="checkPhone()" type="text" id="phone" class="form-control" name="phone" placeholder="Your Phone" [(ngModel)]="model.phone" #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" maxlength="10" minlength="10" required="required" />
            <div *ngIf="!phoneValidation" class="invalid-feedback">Invalid Phone Number</div>
          </div>

          <!-- Account -->
          <div class="form-group">
            <label for="options"><i class="icon-account"></i> Account</label>
            <select class="form-control" [(ngModel)]="options" name="options" id="options">
              <option>User</option>
              <option>Merchant</option>
            </select>
          </div>

          <!-- Submit Buttons -->
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Register</button>
            <button routerLink="/home" class="btn btn-secondary">Home</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



