<!-- <div class="body">
  <br><br><br>
  <h1 align="center">SpringFood | HOME</h1>
  <br><br>
</div>
<div class="card align-contents" align="center">
  <p><img class="card-img-top" style="padding: 0 15px; float: left;" src="../../assets/images/merchant.png" alt="Card image cap"><font style="float: left">Welcome, {{modelMerchant.firstname}}<br> Account Type : Merchant</font></p>
  <div class="table-responsive panel">
    <table class="table">
      <tbody>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-user"></i> First Name</td>
        <td>{{modelMerchant.firstname}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-user-circle"></i> Last Name</td>
        <td>{{modelMerchant.lastname}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-mobile"></i> Mobile Number</td>
        <td>{{modelMerchant.phone}}</td>
      </tr>
      <tr>
        <td class="text-success" align="right"><i class="fa fa-envelope"></i> E-Mail ID</td>
        <td>{{modelMerchant.email}}</td>
      </tr>
      <tr>
        <td style="float: right"><button class="bigbutton" routerLink="/home" (click)="clearLocal()"><span>Log Out</span></button></td>
        <td><button class="bigbutton" routerLink="/merchantMenu"><span>Alter Menu</span></button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

 -->

<!-- Navbar -->
<nav class="navbar">
  <div class="navbar-left">Welcome to a world of flavors, just for you!</div>
  <div class="navbar-right" (click)="toggleUserCard()">
    Welcome, {{modelMerchant.firstname}} ▼
  </div>
</nav>

<!-- Floating User Info Card -->
<div class="user-card" *ngIf="showCard">
  <div class="card-content">
    <img src="../../assets/images/merchant.png" alt="User Image" />
    <h3>{{modelMerchant.firstname}} {{modelMerchant.lastname}}</h3>
    <p><strong>Account Type:</strong> Merchant</p>
    <p><strong>Mobile:</strong> {{modelMerchant.phone}}</p>
    <p><strong>Email:</strong> {{modelMerchant.email}}</p>
  </div>
</div>

<!-- Main Body -->
<div class="body">
  <div class="container">
    <div class="welcome-card">
      <div class="welcome-slogan">Welcome to SpringFood – Taste the Joy!</div>
      <!-- Your existing card content below -->
      <p>Hello, {{modelMerchant.firstname}}! Enjoy browsing the menu and managing your account.</p>
      <div class="menu-button-container">
        <button class="bigbutton" routerLink="/merchantMenu"><span>Alter Menu</span></button>
        <button class="bigbutton" routerLink="/home" (click)="clearLocal()"><span>Log Out</span></button>    
      </div>
    </div>
  </div>
</div>
